AskeyB2BService/AskeyB2BService.WebTest/Service References/B2BTestDBService/B2BDBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="B2BDBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.1.1.103:1001/B2BTestDBService/B2BDBService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.1.1.103:1001/B2BTestDBService/B2BDBService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.1.1.103:1001/B2BTestDBService/B2BDBService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://10.1.1.103:1001/B2BTestDBService/B2BDBService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://10.1.1.103:1001/B2BTestDBService/B2BDBService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Oracle.ManagedDataAccess.Client" />
      <xsd:import schemaLocation="http://10.1.1.103:1001/B2BTestDBService/B2BDBService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Common" />
      <xsd:import schemaLocation="http://10.1.1.103:1001/B2BTestDBService/B2BDBService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IB2BDBService_ExecuteSqlTran_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSqlTran" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_ExecuteSqlTran_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSqlTranResponse" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_ExecuteNonQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_ExecuteNonQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_ExecuteNonQueryWithParams_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryWithParams" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_ExecuteNonQueryWithParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryWithParamsResponse" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_QueryWithParams_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryWithParams" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_QueryWithParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryWithParamsResponse" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_ExecuteScalar_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalar" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_ExecuteScalar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalarResponse" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_ExecuteScalarWithParams_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalarWithParams" />
  </wsdl:message>
  <wsdl:message name="IB2BDBService_ExecuteScalarWithParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalarWithParamsResponse" />
  </wsdl:message>
  <wsdl:portType name="IB2BDBService">
    <wsdl:operation name="ExecuteSqlTran">
      <wsdl:input wsaw:Action="http://tempuri.org/IB2BDBService/ExecuteSqlTran" message="tns:IB2BDBService_ExecuteSqlTran_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IB2BDBService/ExecuteSqlTranResponse" message="tns:IB2BDBService_ExecuteSqlTran_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IB2BDBService/ExecuteNonQuery" message="tns:IB2BDBService_ExecuteNonQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IB2BDBService/ExecuteNonQueryResponse" message="tns:IB2BDBService_ExecuteNonQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQueryWithParams">
      <wsdl:input wsaw:Action="http://tempuri.org/IB2BDBService/ExecuteNonQueryWithParams" message="tns:IB2BDBService_ExecuteNonQueryWithParams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IB2BDBService/ExecuteNonQueryWithParamsResponse" message="tns:IB2BDBService_ExecuteNonQueryWithParams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IB2BDBService/Query" message="tns:IB2BDBService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IB2BDBService/QueryResponse" message="tns:IB2BDBService_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryWithParams">
      <wsdl:input wsaw:Action="http://tempuri.org/IB2BDBService/QueryWithParams" message="tns:IB2BDBService_QueryWithParams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IB2BDBService/QueryWithParamsResponse" message="tns:IB2BDBService_QueryWithParams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar">
      <wsdl:input wsaw:Action="http://tempuri.org/IB2BDBService/ExecuteScalar" message="tns:IB2BDBService_ExecuteScalar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IB2BDBService/ExecuteScalarResponse" message="tns:IB2BDBService_ExecuteScalar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalarWithParams">
      <wsdl:input wsaw:Action="http://tempuri.org/IB2BDBService/ExecuteScalarWithParams" message="tns:IB2BDBService_ExecuteScalarWithParams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IB2BDBService/ExecuteScalarWithParamsResponse" message="tns:IB2BDBService_ExecuteScalarWithParams_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IB2BDBService" type="tns:IB2BDBService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteSqlTran">
      <soap:operation soapAction="http://tempuri.org/IB2BDBService/ExecuteSqlTran" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://tempuri.org/IB2BDBService/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQueryWithParams">
      <soap:operation soapAction="http://tempuri.org/IB2BDBService/ExecuteNonQueryWithParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IB2BDBService/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryWithParams">
      <soap:operation soapAction="http://tempuri.org/IB2BDBService/QueryWithParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar">
      <soap:operation soapAction="http://tempuri.org/IB2BDBService/ExecuteScalar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalarWithParams">
      <soap:operation soapAction="http://tempuri.org/IB2BDBService/ExecuteScalarWithParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="B2BDBService">
    <wsdl:port name="BasicHttpBinding_IB2BDBService" binding="tns:BasicHttpBinding_IB2BDBService">
      <soap:address location="http://10.1.1.103:1001/B2BTestDBService/B2BDBService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>